ALTER TABLE 취미코드 DROP PRIMARY KEY CASCADE;
ALTER TABLE 회원 DROP PRIMARY KEY CASCADE;
ALTER TABLE 회원취미 DROP PRIMARY KEY CASCADE;
ALTER TABLE 멘토정보 DROP PRIMARY KEY CASCADE;
ALTER TABLE 소모임 DROP PRIMARY KEY CASCADE;
ALTER TABLE 대여장소 DROP PRIMARY KEY CASCADE;
ALTER TABLE 강사 DROP PRIMARY KEY CASCADE;
ALTER TABLE 온라인강좌 DROP PRIMARY KEY CASCADE;
ALTER TABLE 오프라인강좌 DROP PRIMARY KEY CASCADE;
ALTER TABLE 강의요일 DROP PRIMARY KEY CASCADE;
ALTER TABLE 온라인강좌후기 DROP PRIMARY KEY CASCADE;
ALTER TABLE 오프라인강좌후기 DROP PRIMARY KEY CASCADE;
ALTER TABLE 멘토링하다 DROP PRIMARY KEY CASCADE;
ALTER TABLE 소속하다 DROP PRIMARY KEY CASCADE;
ALTER TABLE 대여하다 DROP PRIMARY KEY CASCADE;
ALTER TABLE 회원강좌신청하다 DROP PRIMARY KEY CASCADE;
ALTER TABLE 소모임강좌신청하다 DROP PRIMARY KEY CASCADE;
ALTER TABLE 수강하다 DROP PRIMARY KEY CASCADE;
ALTER TABLE 온라인후기작성하다 DROP PRIMARY KEY CASCADE;
ALTER TABLE 오프라인후기작성하다 DROP PRIMARY KEY CASCADE;

DROP TABLE 취미코드 CASCADE CONSTRAINTS PURGE;
DROP TABLE 회원 CASCADE CONSTRAINTS PURGE;
DROP TABLE 회원취미 CASCADE CONSTRAINTS PURGE;
DROP TABLE 멘토정보 CASCADE CONSTRAINTS PURGE;
DROP TABLE 소모임 CASCADE CONSTRAINTS PURGE;
DROP TABLE 대여장소 CASCADE CONSTRAINTS PURGE;
DROP TABLE 강사 CASCADE CONSTRAINTS PURGE;
DROP TABLE 온라인강좌 CASCADE CONSTRAINTS PURGE;
DROP TABLE 오프라인강좌 CASCADE CONSTRAINTS PURGE;
DROP TABLE 강의요일 CASCADE CONSTRAINTS PURGE;
DROP TABLE 온라인강좌후기 CASCADE CONSTRAINTS PURGE;
DROP TABLE 오프라인강좌후기 CASCADE CONSTRAINTS PURGE;
DROP TABLE 멘토링하다 CASCADE CONSTRAINTS PURGE;
DROP TABLE 소속하다 CASCADE CONSTRAINTS PURGE;
DROP TABLE 대여하다 CASCADE CONSTRAINTS PURGE;
DROP TABLE 회원강좌신청하다 CASCADE CONSTRAINTS PURGE;
DROP TABLE 소모임강좌신청하다 CASCADE CONSTRAINTS PURGE;
DROP TABLE 수강하다 CASCADE CONSTRAINTS PURGE;
DROP TABLE 온라인후기작성하다 CASCADE CONSTRAINTS PURGE;
DROP TABLE 오프라인후기작성하다 CASCADE CONSTRAINTS PURGE;

PURGE RECYCLEBIN